{% extends 'base.html.twig' %}

{% block title %}{% endblock %}   

{% block body %}
<style>
#rech{
    margin-left:750px;
}
.nav-link{
    font-size:16px;
}
.ash {
    color: #9f9f9f;
}

dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  position: relative;
  padding: 20px;
}
body {

background-color:white;
background-image:url(../img/bg3.jpg);
margin-top:70px;



}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 600;
  display: block;
  text-align: center;
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 0px;
}

.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}

.percentage {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  margin-left: 130px;
  background: repeating-linear-gradient(to right, #ddd, #ddd 1px, #fff 1px, #fff 2%);
}
.percentage:after {
  content: "";
  display: block;
  background-color: #3d9970;
  width: 50px;
  margin-bottom: 10px;
  height: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .3s ease;
  cursor: pointer;
}
.percentage:hover:after, .percentage:focus:after {
  background-color: #aaa;
}
#myBar {
  width: 10%;
  height: 30px;
  background-color: green;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}


h1
{
	color:#fff;
	margin:40px 0 60px 0;
	font-weight:300;
}

.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;
	
}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

/*our-team-main*/



</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<h1> <B>Avancement des tâches </B></h1>
<div class="container">
	<div class="row" style="margin-top:30px; ">
<div class="col-md-12">
 <h2 class="flot"><i class="fa fa-pie-chart" aria-hidden="true"></i>
       
 <h3> <U>Demande num {{ projet.getIdConv() }} </U></h3>
    

<div class="container">
	<div class="row">
	
	<!--team-1-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/9c27b0/fff?text=tâche1" class="img-fluid" />
	<h3>{{ projet.getTache1Decision() }}</h3>
	
	</div>
	
	<div class="team-back">
	<span>
    {{ projet.getTache1Titre() }}
	</span>
	</div>
	
	</div>
	</div>
	<!--team-1-->
	
	<!--team-2-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/336699/fff?text=tâche2" class="img-fluid" />
	<h3>{{ projet.getTache2Decision() }}</h3>
	
	</div>
	
	<div class="team-back">
	<span>
	    {{ projet.getTache2Titre() }}
	</span>
	</div>
	
	</div>
	</div>
	<!--team-2-->
	
	<div class="container">
	<div class="row">
	
	<!--team-4-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/4caf50/fff?text=tâche3" class="img-fluid" />
	<h3>{{ projet.getTache3Decision() }}</h3>
	
	</div>
	
	<div class="team-back">
	<span>
    {{ projet.getTache3Titre() }}

	</span>
	</div>
	
	</div>
	</div>
	<!--team-4-->
	
	<!--team-5-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/e91e63/fff?text=tâche4" class="img-fluid" />
	<h3>{{ projet.getTache4Decision() }}</h3>

	</div>
	
	<div class="team-back">
	<span>
	    {{ projet.getTache4Titre() }}
	</span>
	</div>
	
	</div>
	</div>
	<!--team-5-->
	
	
	
	
	
	</div>
	</div>

</div>
</div>
</div>
 


<script>
var i = 0;
function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 10;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
        elem.innerHTML = width + "%";
      }
    }
  }
}
</script>
{% endblock %}